<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcake order form</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styling.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <form class="vue-form">
            <fieldset>
                <legend>Customize and design your very own unique cupcake</legend>

                <div>
                    <h4>1. Pick your base*:</h4>
                    <ul class="vue-base">
                        <li v-for="(base, index) in bases">                    
                            <input type="radio" :id="'base-'+index" :value="base" v-model="selection.base">
                            <label :for="'base-'+index"> {{base.name}}</label>
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>2. Now choose a filling flavor*:</h4>
                    <ul class="vue-filling">
                        <li v-for="(filling, index) in fillings">
                            <input type="radio" :id="'filling-'+index" :value="filling" v-model="selection.filling" :disabled="!hasBase()">
                            <label :for="'filling-'+index">{{filling.name}}</label>
                    </ul>
                </div>

                <div>
                    <h4>3. Let's put some frosting on top. Choose up to 2 flavors*. </h4>
                    <ul class="vue-frosting">
                        <li v-for="(frosting, index) in frostings">
                            <input type="checkbox" :value="frosting" v-model="selection.frostings" :id="'frosting-'+index" :disabled="selection.frostings.length>1 && selection.frostings.indexOf(frosting)===-1 || !hasBase()">
                            <label :for="'frosting-'+index">{{frosting.name}} (+ € {{frosting.price}})</label>
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>4. Shall we add some sprinkles?</h4>
                    <ul class="vue-sprinkles">
                        <li v-for="(sprinkle, index) in sprinkles">
                            <input type="radio" :id="'sprinkles-'+index" :value="sprinkle" v-model="selection.sprinkles" :disabled="!requiredFilled()" >
                            <label :for="'sprinkles-'+index">{{sprinkle.name}} (+ € {{sprinkle.price}})</label>
                        </li>
                    </ul>
                </div>

                <div>
                    <h4>5. Finally, pick a fruit topping:</h4>
                    <ul class="vue-fruit">
                        <li v-for="(fruit,index) in fruits">
                            <input type="radio" :id="'fruit-'+index" :value="fruit" v-model="selection.fruit" :disabled="!requiredFilled()">
                            <label :for="'fruit-'+index">{{fruit.name}} (+ € {{fruit.price}})</label>
                        </li>
                    </ul>
                </div>

                <div>
                    <label :for="quantity">Quantity <span>(Max. 50)</span></label>
                    <button type="button" class="decrease" v-on:click="quantity--" :disabled="quantity<2">-</button>
                    <input type="number" :id="quantity" v-model="quantity">
                    <button type="button" class="increase" v-on:click="quantity++" :disabled="quantity>50">+</button>
                </div>

                <div>
                    <div class="vue-submit">
                        <div class="vue-cost">
                            <h3>Price without VAT: <span>€ {{totalPrice}}</span><br>VAT: 20% <br> Total cost: <span>€ {{finalCost}}</span> </h3>
                        </div>
                
                        <button class="add-to-cart">Add to cart</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="visual-box">
            <div class="cupcake">
                <img src="Images/Base.svg" class="base" v-show="!hasBase()">
                <img :src="selection.base.src" class="base">
                <img :src="selection.filling.src" class="filling" class="filling">
                <img :src="hasFrosting() ? selection.frostings[0].src : ''" class="frosting">
                <img :src="selection.frostings.length ===2 ? selection.frostings[1].srcTwo : ''" class="frosting">
                <img :src="selection.sprinkles.src"  class="sprinkles">
                <img :src="hasFruit() ? selection.fruit.src : ''" class="fruit">
            </div>
        </div>

    </div>
    
    <script src="main.js"></script>
</body>
</html>